#downloadbtn{
    padding: 8px 18px;
    border-radius: 7px;
    border: 0;
    color: white;
    background: #fc3131;
}
#downloadbtn:hover {
    background: transparent;
    padding: 6px 16px;
    border: 2px solid #ee3232;
    color:#f13939;
}